#create_order_div{
	padding: 10px;
	#create_order_form{
		table#create_order_table{
			border-spacing: 0;
			tr{
				td{
					&:first-child{
						div{
							text-align: right;
							max-width: 146px;
						}
					}
					div{
						color: rgba(189, 3, 10, 1);
						font: 400 20px/1 "Niconne";
						padding: 5px 10px;
						input[type=text], textarea{
							background: rgba(255,255,255,0.5);
							width: 200px;
							color: rgba(189, 3, 10, 1);
							border: solid 1px rgba(189, 3, 10, 1);
							padding: 5px 10px;
							max-width: 0.2spx;
							&:focus{
								outline: none;
								box-shadow: 0 0 10px rgba(189, 3, 10, .8);
							}
						}
						textarea{
							height: 50px;
							max-height: 100px;
							max-width: 200px;
						}
						select{
							background: rgba(255,255,255,0.5);
							color: rgba(189, 3, 10, 1);
							width: 222px;
							border: solid 1px rgba(189, 3, 10, 1);
							padding: 5px 10px;
							&:focus{
								outline: none;
								box-shadow: 0 0 10px rgba(189, 3, 10, .8);
							}
						}
						input[type=submit], button{
							position: relative;
							padding: 12px;
							margin: 0 15px 10px 0;
							background: rgb(255, 4, 13);
							border: none;
							color: #fff;
							border-radius: 10px;
							top: 0;
							box-shadow: 0 10px 0 rgba(189, 3, 10, 1), 0 10px 10px rgba(0, 0, 0, 1);
							&:active{
								outline: none;
								top: 10px;
								box-shadow: 0 0 0 rgba(189, 3, 10, 1), 0 0 3px rgba(0, 0, 0, 1);
								-webkit-transition: all 0.2s;-moz-transition: all 0.2s;-ms-transition: all 0.2s;-o-transition: all 0.2s;transition: all 0.2s;
							}
							&:focus{
								outline: none;
							}
						}
					}
				}
			}
		}
	}
}